#root {
  margin: 0 auto;
}

.section-dots-fixed {
  background-image: radial-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 1.6px);
  background-size: 62px 62px;
  background-position: 0 0;
  background-attachment: fixed;
}

.dark .section-dots-fixed {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.08) 1px,
    transparent 1.6px
  );
}
